<div class="container">
	<div class="slider-box">
		<img src="../../assets/img/bonde_slider.jpg" class=slider>
	</div>

	<div class="container product">
		<div class="broeskrumme">
			<div class="broed"><a href="/">Home /</a></div>
 			<div class="broed"><a href="/ugens_tilbud">Shop /</a></div>
  			<div class="aktiv broed">Bonde Boutique</div>
		</div>
	</div>
</div>

<div class="container">
<aside>
  <div class="tider" >
	  <script>
  			function check(id, event) {
			if(event.type == 'mouseover') {
			alert('this mouse has been hovered over ' + id)
			}
			}
	  </script>

   		<img  id="test" onmouseover="check('test',event)" class="logo-shop" src="../../assets/img/bonde_1.jpg" align="middle"></br>
  		<h2> Åbnings Tider</h6>
  		<hr>
	
	
  <table  class="cen" width="220" border="0">
  <tbody>
    <tr>
      <td>Hverdag</td>
      <td>10:00-19:00</td>
    </tr>
    <tr>
      <td>Lørdag </td>
      <td>10:00-17:00</td>
    </tr>
    <tr>
      <td>Første Søndag<br>i hver måned</td>
      <td>11:00-16:00</td>
    </tr>
  </tbody>
</table>
  </div>

  <div class="contact">
   <h2>Kontakt</h6>
   <hr>
   <table class="cen" width="220" border="0">
  <tbody>
    <tr>
      <td>Telefon</td>
      <td>46 36 12 55</td>
    </tr>
    <tr>
      <td>Website</td>
      <td><a href="https://www.bondeboutique.dk/" target="_blank"><u>bondedoutique.dk</u></a></p></td>
    </tr>
  </tbody>
</table>

   	<div class="map-box">
   <a href="http://rostorv.dk/alt-om-ros-torv/kort-over-ros-torv/#312" target="_blank"> <h6>Find Us På Ro's Torv</h6> <img  src="../../assets/img/map.png" class="map"></a>
   </div>
  <div class="map-box">
  <a href="https://www.facebook.com/bondeboutique/" target="_blank"><h6>Find Os På Facebook</h6>  <img src="../../assets/img/facebook_icon.jpg" class="face"></a>
		</div>
  
  </div>
</aside>
 
<div class="shop-main">
	
 	<div class="products"> 
  	<div class="prod-pic">
    	<img src="../../assets/img/df0d3028718e9761effde1283eaaa815_h196w140_crop.jpg" class="pic">
		</div>
 		<div class="prod-text"> 
     	<h2>Smart bluse</h2>
     	<p>Smart bluse fra Brandtex. Blusen har flot rund halsudskæring med læg foran og lille knaplukning i nakken. 3/4 lange ærmer. Løs pasform. Længde 64 cm </p>
		</div>
		<div class="pris">
		<br><br>
			<h2 class="red">Nyhed</h2>
			<h1>499,00</h1>
		</div>		
	</div>
						
 <div class="products"> 
  <div class="prod-pic">
    <img src="../../assets/img/751ae84866968a2d5e90bd4b83f94f78_h196w140_crop.jpg" class="pic">
</div>
 <div class="prod-text"> 
    	  	<h2>Vendbar kjole</h2>
    	  	
    	  	<p>Smuk vendbar kjole fra Joseph Ribkoff. Kjolen er uden ærmer</p>

	 <p>Kvalitet:</p>
<p>95% Polyester / 5% Spandex<br>
92% polyester / 8% spandex<br>
100% Polyester Lining </p>
						</div>
						<div class="pris">
						<br><br><br>
							<h2 class="red">Før 2199,00</h2>
							<h1>Nu 1050,00</h1>
						</div>		
						</div>
						
 <div class="products"> 
  <div class="prod-pic">
    <img src="../../assets/img/2675b7be81dde6c595e00cf9996c4528_h196w140_crop.jpg" class="pic">
</div>
 <div class="prod-text"> 
<h2>Elton Smart Kjole</h2>
					<p>Smart kjole fra Elton i fræk sammensætning af 2 forskellige print. Kjolen har v-hals udskæring, kort ærmer og vidde nederdel.</p>

	 <p>Kvalitet:</p>
<p>100 % Viskose<br>
for: 100 % acetate</p>
						</div>
						<br><br><br>
						<div class="pris">
							<h2 class="red">Før 1000,00</h2>
							<h1>500,00</h1>
						</div>		
						</div>
						
	 	<div class="products"> 
  	<div class="prod-pic">
    	<img src="../../assets/img/df0d3028718e9761effde1283eaaa815_h196w140_crop.jpg" class="pic">
		</div>
 		<div class="prod-text"> 
     	<h2>Smart bluse</h2>
     	<p>Smart bluse fra Brandtex. Blusen har flot rund halsudskæring med læg foran og lille knaplukning i nakken. 3/4 lange ærmer. Løs pasform. Længde 64 cm </p>
		</div>
		<div class="pris">
		<br><br>
			<h2 class="red">Nyhed</h2>
			<h1>499,00</h1>
		</div>		
	</div>
						
 <div class="products"> 
  <div class="prod-pic">
    <img src="../../assets/img/751ae84866968a2d5e90bd4b83f94f78_h196w140_crop.jpg" class="pic">
</div>
 <div class="prod-text"> 
    	  	<h2>Vendbar kjole</h2>
    	  	
    	  	<p>Smuk vendbar kjole fra Joseph Ribkoff. Kjolen er uden ærmer</p>

	 <p>Kvalitet:</p>
<p>95% Polyester / 5% Spandex<br>
92% polyester / 8% spandex<br>
100% Polyester Lining </p>
						</div>
						<div class="pris">
						<br><br><br>
							<h2 class="red">Før 2199,00</h2>
							<h1>Nu 1050,00</h1>
						</div>		
						</div>
						
 <div class="products"> 
  <div class="prod-pic">
    <img src="../../assets/img/2675b7be81dde6c595e00cf9996c4528_h196w140_crop.jpg" class="pic">
</div>
 <div class="prod-text"> 
<h2>Elton Smart Kjole</h2>
					<p>Smart kjole fra Elton i fræk sammensætning af 2 forskellige print. Kjolen har v-hals udskæring, kort ærmer og vidde nederdel.</p>

	 <p>Kvalitet:</p>
<p>100 % Viskose<br>
for: 100 % acetate</p>
						</div>
						<br><br><br>
						<div class="pris">
							<h2 class="red">Før 1000,00</h2>
							<h1>500,00</h1>
						</div>		
						</div>
</div>

</div>

</div>


