   <div class="container">
  	 		<div class="search-bar"> 
   	 			<div class="filter">
   					<h5>Filter &nbsp;<i class="fa fa-angle-down"></i></h5>
   				</div>
   			<form name="search">
	   			Search &nbsp;<input type="text" name="search" size="30">
	   		</form>
	   	</div>
    </div>

    <div class="container">
    	<div class="scroll">
    	<div class="category">
   		<h4>Beklædning</h4>
   			<div class="store-row">
   				<div class="store">
   					<a href="/butik"><img class="logo" src="../../assets/img/bonde_1.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/companys.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/copenhagen.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/deres.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/esprit.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/hm_logo.jpg"></a>
					</div>
     		</div>
			</div>
			
			<div class="category">
   		<h4>Elektronik</h4>
   			<div class="store-row">
   				<div class="store">
   					<a href="#"><img class="logo" src="../../assets/img/gamestop.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/telia.jpg"></a>
					</div>
   			</div>
			</div>
			
  		<div class="category">
   		<h4>Bolig &amp; Livsstil </h4>
   			<div class="store-row">
   				<div class="store">
   					<a href="#"><img class="logo" src="../../assets/img/bolia.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/binderi.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/flyingtiger.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/imerco.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/le-cruset.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/soesterne.jpg"></a>
					</div>
     		</div>
     		<div class="category">
   		<h4>Beklædning</h4>
   			<div class="store-row">
   				<div class="store">
   					<a href="/contact"><img class="logo" src="../../assets/img/bonde_1.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/companys.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/copenhagen.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/deres.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/esprit.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/hm_logo.jpg"></a>
					</div>
     		</div>
			</div>
			
			<div class="category">
   		<h4>Elektronik</h4>
   			<div class="store-row">
   				<div class="store">
   					<a href="#"><img class="logo" src="../../assets/img/gamestop.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/telia.jpg"></a>
					</div>
   			</div>
			</div>
			
  		<div class="category">
   		<h4>Bolig &amp; Livsstil </h4>
   			<div class="store-row">
   				<div class="store">
   					<a href="#"><img class="logo" src="../../assets/img/bolia.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/binderi.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/flyingtiger.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/imerco.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/le-cruset.jpg"></a>
					</div>
   				<div class="store">
						<a href="#"><img class="logo" src="../../assets/img/soesterne.jpg"></a>
					</div>
     		</div>
			</div>
			</div>
		</div>